* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
}

#column {
	border: 5px solid black;
	/*padding: 3px;*/
	text-align: center;
	background-color: blue;
	color: white;
}

#column1 {
	border: 5px solid black;
	text-align: center;
	background-color: red;
	color: white;
}

#column1 {
	border: 5px solid black;
	text-align: center;
	background-color: yellow;
	color: white;
}

#column2 {
	border: 5px solid black;
	text-align: center;
	background-color: green;
	color: white;
}

#column3 {
	border: 5px solid black;
	text-align: center;
	background-color: red;
	color: white;
}

#row1 {
	border: 1px solid red
}

#btn {
	background-color: violet;
}

#btn-list {
	background-color: pink;
}